body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


:root{
    --theme-color: #BE1E2D;
    --font-color: #474747;
}
.row{
    --bs-gutter-x: 0rem;
}
.section-padding{
    padding-left: 8rem;
    padding-right: 8rem;
}



/* ***
        Header Section
****** */

.header-top{
    background-color: #2C2C2C;
    height: 44px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.header-top .row{
    height: 100%;
}
.header-top p span{
    color: var(--theme-color);
}
.header-top{
width: 100%;
}
.language-selector select{
    width: 100px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 10px;
    margin-left: 7px;
    font-size: 12px;
    border-radius: 0.25rem;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}
.navbar{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.navbar-nav .nav-link.active{
    color: var(--theme-color) !important;
}
.navbar-nav .nav-link{
    color: #474747;
}
.nav-btn{
    color: #fff;
    outline: none;
    border: none;
    padding: 9px 22px;
    background-color: var(--theme-color);
    font-weight: 600;
    border-radius: 8px;
}
.nav-social div{
    margin-left: 1rem;
}
.nav-social a{
    color: #626262;
    font-size: 18px;
}
/** 
    Hero Section 
**/
.feature-hero{
    background-image: url(/assets/images/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.feature-hero-info{
    height: 100%;
}
.feature-hero-info h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: var(--theme-color);
}
.feature-hero-info p, unlimated-info p{
    font-size: 20px;
    line-height: 34px; 
    color: #474747;
    margin: 1rem 0;
}
.hero-buttons img{
    width: auto;
    
}
.hero-buttons button,.theme-btn{
    background: var(--theme-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 50px;
}
.feature-hero-info .trail p{
    font-size: 14px;
}

.hero-thumb img{
    width: 80%;
}

/* Tab section */
.tab-section{
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.tab-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 12rem;
}
.tab-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 162px;
    height: 119px; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.list-group-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tab-list a p{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
}

.list-group-item{
border: none;
/* padding: 15px 30px; */
outline: none;
border-radius: 15px;

}
.list-group-item.active{
    background-color: #E8E8E8;
    border: none;
    
    outline: none;
    color: black;
}

/* .list-group-item.active span{
    background-color: #E8E8E8;
} */




/* Trasetd Section */
.trasted-section{
    padding-top: 5rem;
    padding-bottom: 0rem;
}


/*
    Additional section
*/
.additional-section{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.additional-section .section-title{
    text-align: center;
    margin-bottom: 2rem;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
.feature-item{
    margin-bottom: 26px;
}
.feature-item p {
font-size: 18px;
line-height: 34px;
font-weight: 700;
}






/*
    Unlimate feature
*/
.unlimated-feature{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.unlimated-feature h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
.unlimated-feature p{
    font-size: 20px;
    line-height: 34px;
}
.unlimated-feature .supported-platforms {
   width: 100%;
   margin-bottom: 2rem;
}
.unlimated-feature .supported-platforms p{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}
.unlimated-feature .platforms{
    margin-left: 40px;
}
.unlimated-feature .platforms div{
    margin-right: 10px;
    background: #DBDBDB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.platforms img{
    padding: 6px 7px;
}
.unlimated-feature-thumb{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unlimated-feature-thumb img{
    width: 90%;
}

/* Footer section */
footer{
    margin-top: 3rem;
}
.footer-wraper{
    background: #474747;
    color: #fff;
}
.footer-top{
    padding-top: 5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.467);
}
.footer-top p{
    font-size: 14px;
}
.subscribe-form{
    position: relative;
}
.subscribe-form input{
    width: 100%;
    outline: none;
    padding: 10px 130px 10px 30px;
    background: #C4C4C4;
    border-radius: 10px;
}
.subscribe-form button{
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 10px;
}

.footer-middle{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-middle h3{
    font-size: 18px;
    margin-bottom: 1rem;
}
.footer-middle a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    line-height: 26px;
}


.footer-bottom-top{
    background: #424242;
}
.footer-bottom-middle,.footer-bottom-bottom{
    background-color: #3D3D3D;
}
.footer-bottom-middle>div{
    border-bottom: 1px solid rgba(255, 255, 255, 0.326);
    padding-bottom: 1rem;
}

.cookies{
    background-color: #BA1C2B;
    color: #fff;
}
.cookies a{
    color: #fff;
    font-weight: 600;
}
.cookies button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    padding: 0px 10px;
}


@media screen and (max-width:1200px) {

    .navbar{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .section-padding{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .hero-buttons a{
        display: inline-block;
        margin-bottom: .7rem;
    }

    /* Tab section */
    .tab-list{
        padding: 0 6rem;
    }

    /* Additional section */
.additional-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}




    /* unlimated */
    .unlimated-feature{
        padding-top: 3rem;
        padding-top: 3rem;
    }
}



@media screen and (max-width:900px) {
    .section-padding{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* hero  */
    .feature-hero{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .feature-hero-info h1,.unlimated-info h1{
        font-size: 36px;
        line-height: 50px;
    }
    .feature-hero-info p,.unlimated-info p{
        font-size: 18px;
        line-height: 30px; 
    }
    .hero-thumb img{
        width: 60%;
    }
    

    /* Tab */
    .tab-list{
        padding: 0 2rem;
    }


    /* Additional section */
    .additional-section{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }






    /* unlimated feature  */
    .unlimated-feature{
        padding-top: 2rem;
        padding-top: 2rem;
    }
    .unlimated-feature-thumb{
        margin-top: 2rem;
    }
}





@media screen and (max-width:700px) {
    .navbar{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .section-padding{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header-top{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-top p{
        text-align: center;
    }
    .language-selector {
        justify-content: center;
    }

    /* hero */
    .feature-hero-info h1,.unlimated-info h2{
        font-size: 26px;
        line-height: 36px;
    }
    .feature-hero-info p,.unlimated-info p{
        font-size: 18px;
        line-height: 30px; 
    }
    .hero-thumb img{
        width: 80%;
    }

    /* Tab */
    .tab-list{
        padding: 0 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Additional section */
    .additional-section{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }



        /* unlimated feature  */
    .supported-platforms{
        flex-direction: column;
    }
    .supported-platforms p{
        width: 100%;
    }
    .supported-platforms .platforms{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    /* footer */
    .footer-bottom-top img{
        width: 30px;
    }
}